{% extends 'base.html' %}

{% load static %}

{% block javascript %}
<script src="{% static 'agenda/js/agenda.js' %}"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">Agenda</h1>
<div>
	<p>
		<button type="button"
		class="btn btn-primary js-agregar-item"
		data-url="{% url 'agregar_item' %}">
			<span class="glyphicon glyphicon-plus"></span>
			Agregar item
		</button>
	</p>
	<!-- <p>
		<button type="button"
		class="btn btn-primary js-buscar-item"
		data-url="{% url 'buscar_item' %}">
			<span class="glyphicon glyphicon-search"></span>
			Buscar Item
		</button>
	</p> -->
</div>

<table class="table" id="agenda-table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Descripcion</th>
			<th scope="col">MateriaId</th>
			<!-- <th scope="col">CreatedOn</th>
			<th scope="col">CreatedBy</th>
			<th scope="col">ChangedOn</th>
			<th scope="col">ChangedBy</th>
			<th scope="col">DeletetedOn</th>
			<th scope="col">DeletedBy</th>
			<th scope="col">Completed</th> -->
			<th scope="col">Modificar</th>
			<th scope="col">Eliminar</th>
		</tr>
	</thead>
	<tbody>
		{% include 'agenda_lista_parcial.html' %}
	</tbody>
</table>

<p>
	<button class="btn btn-danger js-borrar-todo">
		<span class="glyphicon glyphicon-remove-circle"></span>
		Borrar Todo
	</button>
</p>

<div class="modal fade" id="modal-agenda">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>

{% endblock %}