{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'agenda/js/agenda.js' %}"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">Agenda</h1>

	<p>
		<button type="button" class="btn btn-primary js-agregar-item">
			<span class="glyphicon glyphicon-plus"><strong>+</strong></span>
			Agregar item
		</button>
	</p>

<table class="table" id="agenda-table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Descripcion</th>
			<th scope="col">MateriaId</th>
			<th scope="col">CreatedOn</th>
			<th scope="col">CreatedBy</th>
			<th scope="col">ChangedOn</th>
			<th scope="col">ChangedBy</th>
			<th scope="col">DeletetedOn</th>
			<th scope="col">DeletedBy</th>
			<th scope="col">Completed</th>
		</tr>
	</thead>
	<tbody>
		{% include 'agenda_lista_parcial.html' %}
	</tbody>
</table>
<div class="modal fade" id="modal-agenda">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>

{% endblock %}