{% for x in datos %}
<tr>
    <td>{{ x.Id }}</td>
    <td>{{ x.Departamento }}</td>
    <td>{{ x.Carrera }}</td>
    <td>{{ x.Materia }}</td>
    <td>{{ x.MateriaId }}</td>
    <td>
        <button type="button"
		class="btn btn-info js-ver-item" data-url="{% url 'ver_item' x.Id %}">
			<span class="glyphicon glyphicon-search"></span>
			
		</button>
    </td>
    <td>
        <button class="btn btn-secondary js-modificar-item" data-url="{% url 'editar' x.Id %}">
            <span class="glyphicon glyphicon-pencil"></span>
            
        </button>
    </td>
    <td>
        <button class="btn btn-warning js-borrar-item" data-url="{% url 'borrar_item' x.Id %}">
            <span class="glyphicon glyphicon-trash"></span>
            
        </button>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="8" class="text-center bg-warning">Vacio</td>
</tr>
{% endfor %}