{% load widget_tweaks %}

<form method="post" action="{% url 'ver_item' pk=item.Id %}" class="js-ver-item-form">

    {% csrf_token %}

    <div class="modal-header">
        <h4 class="modal-title">{{ dato.Materia.nombre }}</h4>
        {% comment %} <h4 class="modal-title">Id elemento: {{ item.Id }}</h4> {% endcomment %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <label>Departamento: {{ dato.Departamento.nombre }}</label>
        <label>Carrera: {{ dato.Carrera.nombre_propuesta }}</label><br>
        {% comment %} <label>Asignatura: {{ dato.Materia.nombre }}</label><br> {% endcomment %}
        <label>Descripci&oacuten: </label>
        <p style="overflow:auto">{{ item.Descripcion }} </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        {% comment %} <button type="submit" class="btn btn-primary">Aceptar</button> {% endcomment %}
    </div>
</form>